<%- include("partials/header.ejs") %>
<div id="main">
    <div id="pg1">
<h1 id="ga-he" >GALLERY</h1>
<div id="my-ga">
    <img data-scroll data-scroll-speed="1" class="ga-pic" src="/images/IMG_1040.JPG" alt="">
    <img data-scroll data-scroll-speed="1"  class="ga-pic" src="/images/IMG_1041.JPG" alt="">
    <img data-scroll data-scroll-speed="1"  class="ga-pic" src="/images/IMG_1051.JPG" alt="">
    <img data-scroll data-scroll-speed="1"  class="ga-pic" src="/images/IMG_1120.JPG" alt="">
    <img data-scroll data-scroll-speed="1"  class="ga-pic" src="/images/IMG_1122.JPG" alt="">
    <img data-scroll data-scroll-speed="1" class="ga-pic" src="/images/IMG_1124.JPG" alt="">
    <img data-scroll data-scroll-speed="1"  class="ga-pic" src="/images/IMG_1128.JPG" alt="">
    <img data-scroll data-scroll-speed="1" class="ga-pic" src="/images/IMG_1166.JPG" alt="">
    <img data-scroll data-scroll-speed="1"  class="ga-pic" src="/images/IMG_1170.JPG" alt="">
    <img data-scroll data-scroll-speed="1"  class="ga-pic" src="/images/IMG_1180.JPG" alt="">
    <img data-scroll data-scroll-speed="1"  class="ga-pic" src="/images/IMG_1232.JPG" alt="">
    <img data-scroll data-scroll-speed="1"  class="ga-pic" src="/images/IMG_1235.JPG" alt="">
    <img data-scroll data-scroll-speed="1"  class="ga-pic" src="/images/IMG_1420.JPG" alt="">
    <img data-scroll data-scroll-speed="1"  class="ga-pic" src="/images/IMG_1470.JPG" alt="">
    <img data-scroll data-scroll-speed="1"  class="ga-pic" src="/images/IMG_1483.JPG" alt="">
    <img data-scroll data-scroll-speed="1"  class="ga-pic" src="/images/IMG_1488.JPG" alt="">
    <img data-scroll data-scroll-speed="1"  class="ga-pic" src="/images/IMG_1530.JPG" alt="">
    <img data-scroll data-scroll-speed="1"  class="ga-pic" src="/images/IMG_1533.JPG" alt="">
    <img data-scroll data-scroll-speed="1"  class="ga-pic" src="/images/IMG_1566.JPG" alt="">
    <img data-scroll data-scroll-speed="1"  class="ga-pic" src="/images/IMG_1579.JPG" alt="">   
</div>
</div>
<div id="footer" data-scroll>
        <div id="disclaimer">
        <p>“All photographs, text, and creative content on this website are the<br>
            exclusive property of Shuttered Dreams<br>(Mayank Sonkar).”</p>
            </div>
        <div id="cr">
        <p >Copyright © <%= new  Date().getFullYear() %></p>
        </div>
    </div>
    
</div>
<%- include("partials/footer.ejs") %>