<%- include("partials/header.ejs") %>
<div id="main-sec">
    <div id="in-h1">
        <h1>Why This Page Exist ?</h1>
    </div>
    <div id="incentive">
    <p>I started Shuttered Dreams as a fun passion project.<br>
        Here, I share my photographs, creative experiments, and future content ideas.<br>
        As a B.Tech student exploring web development,<br>
         this is also my space to showcase some wallpaper-worthy shots<br>that reflect my 
         journey with photography and design.</p>
    </div>
</div>
<%- include("partials/footer.ejs") %>