
<%- include("partials/header.ejs") %>



<div id="main">
    <nav>
        <div id="nav-part2">
            <h1 id="inc"><a href="/incentive">Incentive</a></h1>
        </div>
        <div id="gallery-cont">
            <h1 id="gallery"><a href="/gallery">Gallery</a></h1>
        </div>
    </nav>
    
  
    <div id="page1" >
        
        <div class="left"data-scroll data-scroll-speed="0.5" data-scroll-direction="horizontal">
            <h2>“Shuttered Dreams is a creative photography space<br>that captures raw emotions and timeless beauty<br>
                — farming moments into lasting memories,<br>
                shaping them into dreams.”</h2>
        </div>
        <div class="right"data-scroll data-scroll-speed="-0.5"data-scroll-direction="horizontal">
            <h1>FARMING<br>MOMENTS,<br>SHAPING<br><strong class="dre"><em>DREAMS</em></strong></h1>
        </div>

        
    </div>
    <div id="page2">
        <div id="page2-padding">
        <div id="cret-pro" data-scroll data-scroll-speed="-0.5">
            <img id="cret"  src="/images/IMG_20250425_054339_001.webp" alt="">
            <h1 id="he">Heyy!!</h1>
            <h2>I’m Mayank,<br>The Creator of Shuttered Dreams.</h2>
                <p>Through this platform, I share my collection not just as stories<br>
                but also as wallpapers—so you can carry a piece of beauty<br><em>with you every day.</em></p>
        </div>
        <div id="pic-cont">
            <img data-scroll data-scroll-speed="1"  src="/images/IMG_1051.JPG" alt="">
            <img data-scroll data-scroll-speed="1" src="/images/IMG_1120.JPG" alt="">
        </div>
        </div>
    </div>
    <div id="page3">
        <div id="moving-pic" data-scroll data-scroll-speed="4">
            <img class="hpic" src="/images/IMG_1232.JPG" alt="">
            <img class="hpic" src="/images/IMG_1122.JPG" alt="">
            <img class="hpic" src="/images/IMG_1040.JPG" alt="">
            <img class="hpic" src="/images/IMG_1041.JPG" alt="">
            <img class="hpic" src="/images/IMG_1128.JPG" alt="">
        </div>

    </div>
    <div id="footer" data-scroll>
        <div id="disclaimer">
        <p>All photographs, text, and creative content on this website are the<br>
            exclusive property of Shuttered Dreams<br>(Mayank Sonkar).</p>
            </div>
        <div id="cr">
        <p >Copyright © <%= new  Date().getFullYear() %></p>
        </div>
    </div>
</div>


<%- include("partials/footer.ejs") %>